body {
    background-color: #27ae60;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.juego {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.palta-gigante {
    font-size: 150px;
    cursor: pointer;
    user-select: none; /* Evita que el texto se seleccione al clickear rápido */
    transition: transform 0.1s;
}

/* ¡El efecto de apretar el botón! */
.palta-gigante:active {
    transform: scale(0.9);
}

.tienda {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 10px;
}

button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover { background-color: #e67e22; }
button:disabled { background-color: #7f8c8d; cursor: not-allowed; }